html, body {
  background-color: rgb(240, 240, 240);
}

.endpoint-container {
  min-height: 300px;
}

.light-bg {
  background: rgb(240, 240, 240);
}

.grey-bg {
  background: #c0c0c0;
}

h4 {
  color: #4e4e4e;
}



.btn {
  width: 100%;
  margin-top: 15px;
}